.Rproj.user
.Rhistory
.RData
.Ruserdata
Assignment_1/Assignment_1.Rproj
*.yml
*.Rproj
Assignment_2/Assignment_2.Rproj
Project_2/DOHMH_New_York_City_Restaurant_Inspection_Results.csv
Data Science In Context/DOHMH_New_York_City_Restaurant_Inspection_Results.csv
